{% extends "common/base.html" %}
{% set title="explorer" %}

{% block head %}
    <script src="https://cdn.rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <form method="POST">
            <div class="container">
                <div class="form-row mb-3">

                    <div class="col mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="case">Case</label>
                            </div>
                            <select class="custom-select" id="case" name="case" title="case">
                                <option value=".*">*</option>
                                {% for case in cases %}
                                    <option value={{ case }}>{{ case }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="performer">Performer</label>
                            </div>
                            <select class="custom-select" id="performer" name="performer" title="performer">
                                <option value=".*">*</option>
                                {% for performer in performers %}
                                    <option value={{ performer }}>{{ performer }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="activity">Activity</label>
                            </div>
                            <select class="custom-select" id="activity" name="activity" title="activity">
                                <option value=".*">*</option>
                                {% for activity in activities %}
                                    <option value={{ activity }}>{{ activity }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <button type="submit" class="btn btn-primary btn-block">Refresh</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="container mt-3" id="vis" data-config="{{ db_config }}"></div>

{% endblock %}

{% block script %}
    <script>

        function loadData() {
            var container_id = "vis";
            var config_as_string = document.getElementById(container_id).dataset.config;
            var config = JSON.parse(config_as_string);

            config.container_id = container_id;

            config.labels = {
                "performer": {
                    caption: "name",
                    size: "pagerank",
                    community: "partition"
                }
            };

            config.relationships = {
                "works_with": {
                    caption: "case"
                    // caption: false,
                    // thickness: "count"
                }
            };

            // noinspection JSPotentiallyInvalidConstructorUsage
            new NeoVis.default(config).render();
        }

        $(document).ready(loadData);
    </script>
{% endblock %}
